/* This is the containing element, 
it needs a div within it that will 
contain the p elements to be scrolled  */

.marquee {
    width: 450px; /* Width of marquee "window" must match the width of p elements*/
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 1px 6px #777;
}

.marquee > div {
  display: table-row;
  white-space: nowrap;
  padding-left: 100%; 
  animation: marquee 20s linear infinite; /* Time must be adjusted based on total width of scrolled elements*/
}

.marquee > div p {
  width: 450px; /* Width of p elements must match the width of marquee "window"*/
  padding-left: 450px; /* Padding determines space between scrolled elements */
  display: table-cell; 
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}